* {
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;

}

.row li {
    align-items: center;
    text-align: start;
    border-bottom: 1px solid rgba(128, 128, 128, 0.58);
    flex-grow: 1;
    flex-basis: 0;

}

li {
    list-style-type: none;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 0;

}

header ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.form {
    padding: 10px 5px;
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 38px 22px 37px -9px rgba(0, 0, 0, 0.1), -20px -16px 23px -10px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);

}

.wrapper {
    width: 100%;
}

.btn-filter {
    height: 100%;
    border-left: none;
}